@font-face {
  font-family: 'SimplonBP-Bold';
  font-style: normal;
  font-weight: normal;
  src: url('./assets/fonts/SimplonBP-Bold.ttf') format('opentype');
}

@font-face {
  font-family: 'SimplonBP-Medium';
  font-style: normal;
  font-weight: normal;
  src: url('./assets/fonts/SimplonBP-Medium.ttf') format('opentype');
}

@font-face {
  font-family: 'SimplonBP-SemiBold';
  font-style: normal;
  font-weight: normal;
  src: url('./assets/fonts/SimplonBP-SemiBold.ttf') format('opentype');
}

@font-face {
  font-family: 'SimplonBP-Regular';
  font-style: normal;
  font-weight: normal;
  src: url('./assets/fonts/SimplonBP-Regular.ttf') format('opentype');
}

@font-face {
  font-family: 'SimplonBP-Light';
  font-style: normal;
  font-weight: normal;
  src: url('./assets/fonts/SimplonBP-Light.ttf') format('opentype');
}
